<div class="px-8">
  <div class="container max-w-xl mx-auto mx-8 mt-12 mb-2 p-8 rounded">
    <h1 class="text-xl font-bold text-center mb-4">
      Secret Santa Gifts Randomizer
    </h1>
    <p class="text-center mb-4">
      This app generates a random assignment of people to gifts.
    </p>

    <div class="flex justify-center mb-4">
      <input
        type="number"
        [(ngModel)]="numParticipants"
        placeholder="How many people/gifts?"
        class="form-control input-primary w-full max-w-xs"
      />
      <button (click)="generateSecretSanta()" class="btn btn-primary ml-2">
        Generate
      </button>
    </div>

    @if (hasAssignments) {
    <div class="overflow-x-auto px-5 mt-4">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Participant</th>
            <th>Gift</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of assignments | keyvalue">
            <td>{{ assignment.key }}</td>
            <td>{{ assignment.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    }
  </div>
  <div>
    <footer class="bg-transparent">
      <div class="mx-auto items-center">
        <p class="py-2 text-white text-center sm:py-0">
          Created in 2023 by
          <a href="https://linkedin.com/in/yemitula" target="_blank"
            ><strong>yemitula</strong></a
          >
        </p>
      </div>
    </footer>
  </div>
</div>
